[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
lab = "*"
notebook = "*"
matplotlib = "*"
ipykernel = "*"
gpustat = "*"

[packages]
tensorflow = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
